@import '../../styles/var.less';
.form-wrap {
  display: flex;
  justify-content: center;
  // background: url(/nature/n5.jpeg);
  .form-card {
    background-color: @light;
    max-width: 80%;
  }
  .form-label {
    color: @dark;
    font-weight: bold;
    // font-size: medium;
    // font-style: italic;
  }
  .right-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}